<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.camerongreen.veganbingo"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.camerongreen.veganbingo.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.camerongreen.veganbingo.ShowScreenActivity"
            android:label="@string/title_activity_show_screen"
            android:parentActivityName="org.camerongreen.veganbingo.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.camerongreen.veganbingo.MainActivity" />
        </activity>
        <activity
            android:name="org.camerongreen.veganbingo.ShowAboutScreenActivity"
            android:label="@string/title_activity_show_about_screen"
            android:parentActivityName="org.camerongreen.veganbingo.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.camerongreen.veganbingo.ShowHowToScreenActivity"
            android:label="@string/title_activity_show_howto_screen"
            android:parentActivityName="org.camerongreen.veganbingo.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.camerongreen.veganbingo.ShowRestartScreenActivity"
            android:label="@string/restart"
            android:parentActivityName="org.camerongreen.veganbingo.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        </application>

</manifest>